{{extend 'layout.html'}}

<style>
    @media (min-width: 922px) {
        .card {
            margin-bottom: 2.7rem;
        }
    }

    .card-link{
        text-decoration: none;
        color: inherit;
    }

    .card-link:hover{
        color: inherit;
    }
</style>

<div class="row">

    <div class="col-lg-2 align-self-start tag-sort">
        <h3>Tags</h3>
        <a href="?tag=Front-end" class="tag-select">Front-end</a>
        <a href="?tag=Back-end" class="tag-select">Back-end</a>
        <a href="{{=URL('rant', 'feed')}}" class="tag-select"><i class="fa fa-times"></i></a>
    </div>

    <div class="col-sm-12 col-md-8 align-self-center">

        <a class="col-sm-12 col-md-12 btn" style="margin-bottom: 2.7rem" href="{{=URL('rant', 'create')}}">
            Click here to start ranting!
        </a>

    {{for rant in rants:}}
        <a class="card-link" href="{{=URL('rant', 'view', vars={'id': rant.id})}}">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img class="rounded-circle" height="50" width="50"
                                     src="{{=URL('default', 'download', args=rant.author.profile_picture)}}" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">@{{=rant.author.username}}</div>
                                <div class="h7 text-muted">{{=rant.tag}}</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"><i
                            class="fa fa-clock-o"></i>{{=rant.posted_at.strftime('%H:%M %d-%m-%Y')}}</div>

                    <h5 class="card-title">{{=rant.title}}</h5>

                    <p class="card-text">{{=rant.description}}</p>

                    <p class="card-text"><i class="fa fa-comment-alt"></i> {{=rant.reply.count()}}</p>
                </div>
            </div>
        </a>
    {{pass}}


    </div>
</div>

{{def paginate():}}
{{if response.paginate_links:}}
<div class="pagination">
    <div class="paginate_back">
    {{response.paginate_links[0]}}
    </div>
    <div class="paginate_forw">
    {{=response.paginate_links[1]}}
    </div>
    <div class="paginate_loc">
    {{=response.paginate_links[2]}}
    </div>
</div>
{{pass}}
{{pass}}