.img-sm {
    width: 46px;
    height: 46px;
}

.tag-select {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 3px;
    background-color: lightgrey;
}

.tag-sort a {
    text-decoration: none;
    color: darkgrey;
    font-size: 14px;
}

.tag-select:hover {
    color: black;
}

